@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";

Button.-primary {
  font-size: 18;
}

.m-icon {
  font-family: "Material Icons", "MaterialIcons-Regular";

  font-weight: 400;
  font-size: 36;
  color: #888;
  font-size: 40;
}

.m-icon.active {
  color: #f9622e;
  font-size: 50;
}

.bottom-bar {
  background-color: #fefffe;
  margin: 18;
  padding: 18 0;
  border-top-width: 1;
  border-color: #f6f6f6;
  border-radius: 15;
 
}
